
@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap');

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #ffd195, #ffb283);
} */
html {
    scroll-behavior: smooth;
    flex-wrap: wrap; 
  }
  
body {
  direction: rtl;
   /* display: flex; */
   /* justify-content: center; */
  
  /* background:url(  "  41323d9552d0a81b33aa90eea4d42868.jpg " ) gray  ; */
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment:fixed;
  height: 100%;
  width: 80%;
margin-right: 20%;


} 

.main{
    /* background:url(" 3f81ec2342ce64cf19fc3e579d6f1df8.jpg   ") gray 100% ; */

}
.main_Type {
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding: 50px;
  /* background-color: rgb(232, 232, 234); */
  font-size: 30px;
  font-weight: 900;
  gap: 80px;
  border-bottom:  2px solid #888;
  /* background:url(" 3f81ec2342ce64cf19fc3e579d6f1df8.jpg   ") gray 100% ; */
}


.choose_list{
    border-bottom:  2px solid #888;
    padding-top: 40px;
    border-top: 2px solid #888;


}


.category:hover {
  box-shadow: 0px 3px 15px rgba(97, 97, 97, 0.83);
  transition: box-shadow 0.1s;
}

.category {

    display: grid;
  padding: 30px 30px 30px 20px;
  border: 1px solid #888;

  border-radius: 30%;
  background-color: rgb(94, 158, 94);
  box-shadow: 0px 3px 15px rgba(211, 13, 221, 0.83);
  transition: box-shadow 0.1s;

  /* opacity: 0.5; */
}
 
 .meals { 

        display:grid;
grid-template-columns: auto auto auto ,minmax(200px ,1fr);
padding: 50;

justify-content:space-around;
    text-align: center;
    border: solid  2px #888;
    border-radius: 10%;
    box-shadow: 8px 8px 8px rgba(120, 119, 119, 0.4);
    /* transition: box-shadow 0.01s; */
  
  width: 100%;
  padding: 20px 0px 50px 0px;
  margin: 30px 0;
  /* background:url("854756446855978fa8b51c4b7fcacb91.jpg") gray 100% ; */

} 

 .img_size:hover {
   
        box-shadow: 0px 3px 15px rgba(211, 13, 221, 0.83);
        transition: box-shadow 0.1s;
      }

.all .border .img_size {
    background-color: rgb(94, 158, 94);
    width: 200px;
  height: 200px;
  border: none;
  border-radius: 50%;
  padding: 10px
}


.img_size {
  padding: 4px;
  width: 300px;
  height: 300px;
  border: 1px solid  rgb(94, 158, 94);
  ;
  border-radius: 50%;
  float: right;
  margin: 25px;
  box-shadow: 0px 3px 5px rgba(120, 119, 119, 0.4);
}


.container {
    background-color: rgb(94, 158, 94);
    border-radius: 10%;
  box-shadow: 0px 3px 5px rgba(120, 119, 119, 0.4);
  text-align: center;
 

}

#fav_list:hover{
  box-shadow: 2px 2px 2px rgba(95, 152, 15, 0.83);
  transition: box-shadow 0.1s;

}



h6 {
  color: #888;
  font-size: medium;
  font-weight: 900px;
}
 



.meals{
    direction: rtl;
    display: flex;
    width: 100%;
    justify-content: center;
   flex-wrap: wrap;  
 } 


 .detailes{
  margin-top: 40px;
    display: flex;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    font-size: xx-large;
    border: solid  0.5px #7aafc1;
    border-radius: 10%;
    padding: 20px 20px 20px 20px;
  background-color:  rgb(94, 158, 94);;

}


.detailes_img:hover {
  box-shadow: 0px 3px 15px rgba(211, 13, 221, 0.83);
  transition: box-shadow 0.1s;
}



.detailes_img{
    width:500px;
    height: 500px;
    border: 6px solid rgb(174, 112, 187);
    border-radius: 30%;
    box-shadow: 8px 8px 8px rgba(120, 119, 119, 0.9);

}

.detailes_h{
margin-right: 20px;
    font-size: xxx-large;
    font-weight: bolder;
    
}

.detailes_p1{
   font-size: 50px;
border: solid 3px #666;
border-radius: 10%;
   background-color: rgb(143, 169, 143);

}

.detailes_p2{
  font-size: 50px;
  border: solid 3px #666;
  border-radius: 10%;
     background-color: rgb(143, 169, 143);
 }
 






/* 
.search_list{
display: flex;
flex-direction: column;
gap: .8px;
font-size: xx-large;} */

/* input{
font-size: 30px;
} */

 /* button{
    margin-top: 20px;
    width: 80px;
    height: 40px;
 }
 
 button:hover{
  box-shadow: 0px 3px 15px rgba(211, 13, 221, 0.83);
  transition: box-shadow 0.1s;
 } */





 






.rating-box {
  position: relative;
  background: #fff;
  padding: 25px 50px 35px;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.rating-box header {
  font-size: 22px;
  color: #dadada;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.rating-box .stars {
  display: flex;
  align-items: center;
  gap: 25px;
}
.stars i {
  color: #e6e6e6;
  font-size: 35px;
  cursor: pointer;
  transition: color 0.2s ease;
}
.stars i.active {
  color: #ff9c1a;
}

/.star {
    gap:4px;
  color:#ccc;
  margin: 50px auto;
  font-size: 30px;
  padding: 10px;

  transition: 0.6s;
  gap:10px;
  padding-bottom: 5px;
}

.star:hover{
    color:gold
}
#message{
    font-size: 30px ;
}

.cliced-star {
  color: rgb(234, 25, 25);
} 
.tag_tape{
  background-color: rgb(143, 59, 59);
  padding-bottom: 300px;

  border-bottom: 12px solid #888;

}

