
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Cairo:wght@400;700&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  scroll-behavior: smooth;
  flex-wrap: wrap;
}




body {

  position: relative;
  z-index: 1;

  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: start;
  /* background: linear-gradient(45deg, #ffd195, #ffb283); */
  direction: rtl;
  /* background: url(" b045fd1e09986f3d87703dd4f783212d.jpg") gray; */
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: scroll;
  background-size: cover; 
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-color: #f4f4f4;

}











header {
  /* display: flex; */
  /* flex-direction: column; */
/* text-align: center; */
  /* padding: 50px 20px; */
     background:url("سيبسيب.webp") gray 100% ; 

}


.site-name {
  font-size: 70px;
  color: #ffffff; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  
  font-weight: bolder;
  font-family: 'Amiri', serif; 
}


.site-name:hover {
  color: rgba(32, 181, 158, 0.83);; 
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7); 
}















h4 {
  color: #000000;
  font-size: xx-large;
  font-weight: bolder;
}

.main {
  display: grid;
  grid-template-columns: auto auto auto, minmax(200px, 1fr);
  padding: 50;

  justify-content: space-around;
  text-align: center;
  /* border: solid 2px #888; */
  border-radius: 10%;
  box-shadow: 8px 8px 8px rgba(120, 119, 119, 0.4);
  /* transition: box-shadow 0.01s; */

  width: 100%;
  padding: 20px 0px 50px 0px;
  margin: 30px 0;
  /* background:url(" 3f81ec2342ce64cf19fc3e579d6f1df8.jpg   ") gray 100% ; */
}
.main_Type {
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding: 50px;
  /* background-color: rgb(232, 232, 234); */
  font-size: 30px;
  font-weight: 800;
  gap: 40px;
  border-bottom: 2px solid #888;
  /* background:url(" 3f81ec2342ce64cf19fc3e579d6f1df8.jpg   ") gray 100% ; */
}

.choose_list {
  border-bottom: 2px solid #888;
  padding-top: 40px;
  border-top: 2px solid #888;
}

.category:hover {
  box-shadow: 0px 3px 15px rgba(97, 97, 97, 0.83);
  transition: box-shadow 0.1s;
}

.category {
  color: rgba(32, 181, 158, 0.83);
  display: grid;
  padding: 30px 30px 30px 20px;
  border: 1px solid #666;

  border-radius: 30%;
  background-color: #ccc;
  box-shadow: 0px 3px 15px rgba(32, 181, 158, 0.83);
  transition: box-shadow 0.1s;

  /* opacity: 0.5; */
}

.meals {
  display: grid;
  grid-template-columns: auto auto auto, minmax(200px, 1fr);
  padding: 50;

  justify-content: space-around;
  text-align: center;
  border: solid 2px #888;
  border-radius: 10%;
  box-shadow: 8px 8px 8px rgba(120, 119, 119, 0.4);
  /* transition: box-shadow 0.01s; */

  width: 100%;
  padding: 20px 0px 50px 0px;
  margin: 30px 0;
  /* background:url("854756446855978fa8b51c4b7fcacb91.jpg") gray 100% ; */
}

.img_size:hover {
  box-shadow: 15px 15px 15px rgba(32, 181, 158, 0.83)  ;
  transition: box-shadow 0.1s;
}

.all .border .img_size {
  background-color: rgb(248, 248, 248);
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 50%;
  padding: 20px;
}

.img_size {
  padding: 4px;
  width: 300px;
  height: 300px;
  border: 1px solid rgb(248, 248, 248);
  border-radius: 50%;
  float: right;
  margin: 25px;
  box-shadow: 0px 3px 5px rgba(120, 119, 119, 0.4);
}

.container {
  background-color: rgb(248, 248, 248);
  border-radius: 10%;
  box-shadow: 0px 3px 5px rgba(120, 119, 119, 0.4);
  text-align: center;
}




.meals {
  direction: rtl;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.detailes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ccc;
}
.detailes_img:hover {
  box-shadow: 0px 3px 15px rgba(32, 181, 158, 0.83);
  transition: box-shadow 0.1s;
}
.detailes_img {
  width: 100%;
  max-width: 400px; 
  margin-bottom: 20px;
  border-radius: 8px;
}
.detailes_h {
  font-size: 5em;
  margin-bottom: 20px;
  text-align: center;
}
.detailes_p {
  font-size: 3em;
  line-height: 1.6;
  text-align: justify;

}





.dish {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  display: inline-block;
}

.remove-button {
  margin-left: 10px;
  cursor: pointer;
  color: red;
}




.search_list{
display: flex;
flex-direction: column;
gap: .8px;
font-size: 30px;

} 


input:hover{
  box-shadow: 0px 3px 5px rgba(32, 181, 158, 0.83);
  transition: box-shadow 0.1s;
  background-color:  #999;

}  


/* .rating_box{
  border: 2px solid #666;

}
.star{
color:#ccc;
margin: 50px auto;
font-size: 30px;
padding: 6px;
transition: 0.6s;
padding-bottom: 40px;
}



.star:hover{
  color:gold;
}


.cliced-star {
color: rgb(234, 25, 25);
} 

 h4 {
  margin-top: 30px;
  font-size: 12px;
  color: #dadada;
  font-weight: 500;
  text-align: center;
}  */


@media screen and (max-width: 1000px) {
  .item {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .item {
    grid-template-columns: repeat(2, 1fr);
  }
}



.tag{
  /* grid-template-columns: auto auto auto, minmax(200px, 1fr); */
width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
gap:50px;
border-top: 8px #888 solid;
}

.end{
  text-align: center;
  width: 100%;
  background-color:#ccc;
  font:bold 14px;
  color:#1E88E5;
  width:100%;
  height:auto;
  padding:1%;
  border-top:1px solid #1E88E5;
}

.fav{
  margin: 20px 20px 20px 20px;
size: 50px;
}
.fav:hover {
  padding: 10px 20px;
  border-radius: 12px; /* Rounded corners */
  border: 2px solid rgba(32, 181, 158, 0.83);
  background-color: rgba(32, 181, 158, 0.83);
  color: white;
  font-size: 16px;
  cursor: pointer;
margin: 20px 20px 20px 20px;
}


.rating {
  position: relative;
  padding: 25px 50px 35px;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.rating header {
  font-size: 50px;
  color: #dadada;

  text-align: center;
}

.stars_1 span {
  font-size: 80px;
  color: #e6e6e6;
  cursor: pointer;
  transition: color 0.2s ease;
}
.stars_1 span.active {
  color: gold;
}



#fav_list{
  width: 100px;
  height: 100px;
  border-radius: 50%; 
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;

}




.modal{

  width: auto;

}

.star{
  font-size: 40px;
  color: gray;
  cursor: pointer;
}

.star.selected{
  color: gold;
}

.star.highlited:hover{
  color: gold;
}