@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");


body {
  direction: rtl;
   display: flex;
   width: 100%;
   justify-content: center;
  flex-wrap: wrap;  
} 

.main_Type {
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding: 50px;
  /* background-color: rgb(232, 232, 234); */
  font-size: 10px;
  font-weight: 900;
  gap: 40px;
  border-bottom: solid #000;
  /* background:url("خلفية2.jpg") gray 100% ; */
}

.category:hover {
  box-shadow: 0px 3px 15px rgba(97, 97, 97, 0.83);
  transition: box-shadow 0.1s;
}

.category {
  padding: 30px 30px 30px 20px;
  border: 1px solid black;

  border-radius: 50%;
  box-shadow: 0px 3px 5px rgba(120, 119, 119, 0.4);
  color: rgb(0, 0, 0);
  background-color: rgb(214, 164, 215);
}

.meals {
    border: solid  0.5px #888;
    border-radius: 10%;
    box-shadow: 8px 8px 8px rgba(120, 119, 119, 0.4);
    transition: box-shadow 0.2s;
    display:grid;
 grid-template-columns: auto auto auto;
    justify-content:space-around;
    text-align: center;
  width: 100%;
  padding: 20px 0px 50px 0px;
  margin: 30px 0;
}

.all .border .img_size:hover {
  box-shadow: 0px 3px 15px rgba(211, 13, 221, 0.83);
  transition: box-shadow 0.1s;
}

.all .border .img_size {
  background-color: rgb(202, 4, 4);
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 50%;
}


.img_size {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 50%;
  float: right;
  margin: 25px;
  box-shadow: 0px 3px 5px rgba(120, 119, 119, 0.4);
}



.container {
  background-color: rgb(214, 164, 215);
  border-radius: 10%;
  box-shadow: 0px 3px 5px rgba(120, 119, 119, 0.4);
  text-align: center;
  /* margin: -10px 5px 5px -90px ; */
  /* padding:-10px 5px 5px -90px ; */

}

.star {
  grid-gap: 10px;
}
svg {
  color: #555;
  transition: 0.6s;
  gap:10px;
  padding-bottom: 5px;
}

.active {
  color: gold;
}

h6 {
  color: #888;
  font-size: medium;
  font-weight: 900px;
}
 

 #logo_food {
    border-radius: 50%;
  /* width: 200px;
  height: 200px; */
}  


 @media screen and (max-width: 0px) {
   .main {
    flex-wrap: wrap;
    }
}

